body{
       overflow-x: hidden;
}
h1{
    text-align: center;
    font-size: 2.5em;
    padding: 15px 0px;
    padding-top: 50px;
}
h2{
    font-size: 1.5em;
    padding: 5px 40px;
    width: 90%;
    margin: auto;
}
h3{
    font-size: 1.5em;
    color: #eee;
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/mike.jpg) no-repeat;
    background-size: cover; 
}
video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }
#vidpause{
    margin-top: 100px;
    width: 105px;
    height: 50px;
    background-color:rgba(0,186,255,.7);
    display: inline;
    position: fixed;
    z-index: 99;
}
#vidpause i{
    padding-left: 15px;
}
#vidpause:hover{
    background-color: #FFC400;
}

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 99;
}

.nav ul{
    list-style: none;
    margin-left: 10%;
    max-width: 1500px;
    margin: auto;
}

.nav li{
    display: inline-block;
    width: 150px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    margin-left: -5px;
    color: black;
}
.nav li:hover{
    background-color: rgba(255,196,0,1)
}
.nav li h6{
      font-size: 1.2em;
}

.socialNav{
    display: inline;
    position: fixed;
    right: -5px;
    top: 60px;
}
.socialNav li{
      list-style: none;
    display:inline-block;
    width: 50px;
    height: 50px;
    color: #00BAFF;
}
.socialNav li:hover i{
    color: #FFC400;
}
.socialNav i{
}
.callEmail{
    position: fixed;
    right: 25px;
    top: 10px;
}
.callEmail h6{
    text-align: right;
    margin-top: -5px;
    color: black;
}
#title{
height: 350px;
    width: 110%;
      margin-left: -6%;
       background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, rgba(0,186,255,.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1), rgba(0,186,255,.9)); /* Standard
    syntax */

    
}
#title h1{
    font-size: 3em;
    font-weight: 600;
    color: black;
}
#title h2{
    margin: auto;
    width: 70%;
    min-width: 700px;
    max-width:1000px;
}
.copyright{
    background-color: rgba(255,196,0,1);
    width: 101%;
    position: relative;
   bottom: -50px; 
    height: 50px;
}
.copyright h4{
    text-align: center;
    position: relative;
    top:15px;
    font-size: 1em;
}






/*Sections*/
.sectionLanding,.section1,.section2,.section3{
    position: relative;
        top: 100px;
    height: 800px;
    width: 90%;
    margin: auto;
    max-width: 1500px;
    background-color: rgba(250,250,250,.95);
    margin-bottom: 105px;
    overflow-y: hidden;
    
}
.sectionLanding{
    background-color: rgba(250,250,250,0);
    width: 100%;
    max-width: none;
    margin-left: 0px;
       overflow-x: hidden;
}
.section1 img{
    width:100%;
    display: inline-block;
}

.section1 h1, .section1 h2{
    width: 40%;
    position: absolute;
    top:0px;
    margin-left: 55%;
}
.section1 h2{
    top: 200px;
    width: 45%;
    margin-left: 52.5%;
}

.section3{
    height: 800px;
}
.section3 iframe{
    margin-left: 5%;
    margin-top: 5%;
}
.section3 .ContactFormBox{
   width: 30%;
    position: absolute;
    top:170px;
    margin-left: 65%;
    background-color: #FFC400;
    height: 600px;
    padding: 25px;
}
#email2,#name2,#phone2{
    width:50%;
    height: 50px;
    margin-bottom: 10px;
}
#cancel2{
    display: none;
}
#submit2{
    height: 50px;
    width: 100px;
    width: 100%;
}
.section3 h2{
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    padding: 5px;
    padding-bottom: 20px;
}
.downarrow{
    width: 60px;
    margin: auto;
color:white;
    position: relative;
    
}
.downarrow:hover{
    color: #FFC400;
}
.sectionLanding i{
    margin: auto;
}
.section2Pics{
text-align: center;
       margin-top: 50px;
}
.section2Pics div{
display: inline-block;
    width: 30%;
    height: 300px;
    background-color: #363636;  
}
.section2











@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}